{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "parser": "scss"
      }
    }
  ]
}
